body{
	background-color: #DEDEDE;
	padding:0;
	margin:0;
}

#container
{
	font-family: "Arial Narrow";	
	margin-left:200px;
	margin-right:200px;
}

#lateral_menu
{
	position:fixed;
	top:0;
	right:0;
	text-decoration:none;
	background-color:black;
	color:white;
	list-style-type: none;
	text-align:center;
	width:100px;
}

#lateral_menu ul
{
	border:1px solid #ddd;
}

#img-cw
{
	width:550px;
	height:350px;
	border: 2px #000 solid;
}

#img-map
{
	width:550px;
	height:350px;
	border: 2px #000 solid;
}

#sumary{
	width:200px;
	background-color:white;
	border:1px solid #777;
	margin-top:20px;
	margin-bottom:20px;
}

ul{list-style-type: square;}

h2{
	margin-bottom:0px;
}

h1{
	margin-bottom:0px;
}

#topmenu{
	width:100%;
	background-color:#3951c6;
	height:30px;
	margin:0;
	padding:0;
}

#bottommenu{
	width:100%;
	background-color:#3951c6;
	height:70px;
	margin-top:40px;
	padding:0;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

a{
	text-decoration:none;
}

.index-number{
	display:inline;
	font-weight:bold;
	font-size:16px;
}